.hero-text {
    margin-left: 40px; 
}
    
.hero-text-2 { 
    z-index: 99; 
    margin-left: 50px; 
  }


  
.hero-text-3 {
    line-height: 60px; 
    width: 650px;
    margin-left: 50px;   
  }

  
  
.hero-text-4 {
    line-height: 50px; 
    margin-left: 50px;   
  }
  
  
.hero-text-5 {
    line-height: 50px; 
    margin-left: 20px;   
  }




  
    
.heroImage {
    display: block;
    width: 100%; 
   
    
  }
  
  
  .heroImage img {
    display: block; 
    clear: both; 
    width: 100%; 
    position: relative; 
   margin-top: 110px; 
     
  }


  
.sectionHeader {
    clear: both; 
    font-size: 42px; 
    margin: 50px 0px 50px 10px;
    color: $primaryColor;  
  }
  
  