




.portfolio-title {
    display: block; 
  }




    
.hero-text-2 {
    line-height: 30px; 
    z-index: 99; 
  }


  
.hero-text-3 {
    line-height: 50px; 
    z-index: 99; 
  }


  .sectionHeader {
      margin-top: 200px; 
  }



  
.hero-container {
    clear: both; 
    background-color: $secondaryColor; 
    height: 900px; 
    width: 100%; 
  }


  
  
  